.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
}
.footer-title {
  color: var(--dm-title-color);
  pointer-events: none;
  margin-right: 5%;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footer-links div a {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 30px;
  filter: invert(50%);
  text-decoration: none;
  color: var(--dm-title-color);
}
.footer-links div a:hover {
  filter: invert(0%);
  color: var(--dm-text-color);
}
.link-icon {
  width: 40px;
  padding-right: 10px;
}
.link-icon--lm {
  filter: invert(100%);
}
.footer-copyright {
  display: flex;
  justify-content: center;
  color: var(--dm-title-color);
  pointer-events: none;
  padding-top: 10px;
  width: 100%;
}