.proficiences-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 6px 10px 0;
  box-sizing: border-box;
  overflow-y: auto;
}
.proficiences-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.proficiences-item--title {
  color: var(--dm-title-color);
  font-size: 0.8rem;
  margin-bottom: 5px;
  pointer-events: none;
}
.proficiences-item--textarea {
  height: 100%;
  resize: vertical;
}